openapi: 3.0.3

info:
  title: Weather Data API
  description: |
    Enterprise-grade Weather Data Platform providing real-time, forecast,
    historical, and alert-based weather intelligence.
  version: 1.0.0
  contact:
    name: Weather Platform Team
    email: platform@weather-enterprise.com
  license:
    name: Apache 2.0

servers:
  - url: https://api.weather-enterprise.com/v1
    description: Production
  - url: https://staging.api.weather-enterprise.com/v1
    description: Staging

tags:
  - name: Current Weather
  - name: Forecast
  - name: Historical
  - name: Alerts
  - name: Metadata

security:
  - OAuth2: [weather.read]

paths:

  /weather/current:
    get:
      tags: [Current Weather]
      summary: Get current weather conditions
      description: Returns real-time weather data for a given location.
      parameters:
        - $ref: '#/components/parameters/Latitude'
        - $ref: '#/components/parameters/Longitude'
        - $ref: '#/components/parameters/Units'
      responses:
        "200":
          description: Current weather retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrentWeatherResponse'
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "429":
          $ref: '#/components/responses/RateLimitExceeded'
        "500":
          $ref: '#/components/responses/InternalServerError'

  /weather/forecast/daily:
    get:
      tags: [Forecast]
      summary: Get daily weather forecast
      description: Provides daily forecast up to 14 days.
      parameters:
        - $ref: '#/components/parameters/Latitude'
        - $ref: '#/components/parameters/Longitude'
        - $ref: '#/components/parameters/Days'
        - $ref: '#/components/parameters/Units'
      responses:
        "200":
          description: Forecast data retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DailyForecastResponse'

  /weather/historical:
    get:
      tags: [Historical]
      summary: Get historical weather data
      description: Returns historical weather observations for a date range.
      parameters:
        - $ref: '#/components/parameters/Latitude'
        - $ref: '#/components/parameters/Longitude'
        - $ref: '#/components/parameters/StartDate'
        - $ref: '#/components/parameters/EndDate'
        - $ref: '#/components/parameters/Units'
      responses:
        "200":
          description: Historical data retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalWeatherResponse'

  /weather/alerts:
    get:
      tags: [Alerts]
      summary: Get active weather alerts
      description: Retrieves severe weather alerts for a region.
      parameters:
        - $ref: '#/components/parameters/Latitude'
        - $ref: '#/components/parameters/Longitude'
      responses:
        "200":
          description: Active alerts retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WeatherAlertResponse'

components:

  securitySchemes:
    OAuth2:
      type: oauth2
      description: OAuth2 authentication using client credentials
      flows:
        clientCredentials:
          tokenUrl: https://auth.weather-enterprise.com/oauth/token
          scopes:
            weather.read: Read access to weather data

  parameters:

    Latitude:
      name: lat
      in: query
      required: true
      schema:
        type: number
        format: double
        minimum: -90
        maximum: 90

    Longitude:
      name: lon
      in: query
      required: true
      schema:
        type: number
        format: double
        minimum: -180
        maximum: 180

    Units:
      name: units
      in: query
      required: false
      schema:
        type: string
        enum: [metric, imperial]
        default: metric

    Days:
      name: days
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 14
        default: 7

    StartDate:
      name: startDate
      in: query
      required: true
      schema:
        type: string
        format: date

    EndDate:
      name: endDate
      in: query
      required: true
      schema:
        type: string
        format: date

  responses:

    BadRequest:
      description: Invalid request parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    Unauthorized:
      description: Authentication failed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    RateLimitExceeded:
      description: Too many requests
      headers:
        Retry-After:
          schema:
            type: integer
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    InternalServerError:
      description: Server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

  schemas:

    CurrentWeatherResponse:
      type: object
      properties:
        location:
          $ref: '#/components/schemas/Location'
        temperature:
          type: number
        humidity:
          type: integer
        windSpeed:
          type: number
        condition:
          type: string
        observationTime:
          type: string
          format: date-time

    DailyForecastResponse:
      type: object
      properties:
        location:
          $ref: '#/components/schemas/Location'
        forecasts:
          type: array
          items:
            $ref: '#/components/schemas/DailyForecast'

    HistoricalWeatherResponse:
      type: object
      properties:
        location:
          $ref: '#/components/schemas/Location'
        observations:
          type: array
          items:
            $ref: '#/components/schemas/HistoricalObservation'

    WeatherAlertResponse:
      type: object
      properties:
        alerts:
          type: array
          items:
            $ref: '#/components/schemas/WeatherAlert'

    Location:
      type: object
      properties:
        latitude:
          type: number
        longitude:
          type: number
        city:
          type: string
        country:
          type: string

    DailyForecast:
      type: object
      properties:
        date:
          type: string
          format: date
        minTemp:
          type: number
        maxTemp:
          type: number
        condition:
          type: string

    HistoricalObservation:
      type: object
      properties:
        date:
          type: string
          format: date
        temperature:
          type: number
        precipitation:
          type: number

    WeatherAlert:
      type: object
      properties:
        type:
          type: string
        severity:
          type: string
          enum: [minor, moderate, severe, extreme]
        description:
          type: string
        effectiveFrom:
          type: string
          format: date-time
        expiresAt:
          type: string
          format: date-time

    ErrorResponse:
      type: object
      properties:
        timestamp:
          type: string
          format: date-time
        status:
          type: integer
        errorCode:
          type: string
        message:
          type: string
        traceId:
          type: string
